
body {
  padding-top: 3rem;
  padding-bottom: 0;
  color: #5a5a5a;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* Customs */

#title-custom {
  color: black !important;
}

#maps-custom {
  height: 350px;
}

.navbar-custom {
  margin-right: 0px !important;
}

.nav-link-name-cs {
  color: black !important;
}

.navbar {
  background-color: #ffffff !important;
}

.nav-list-cs {
  margin-left: 25px;
}

#custom-main {
  object-fit: contain;
}

.text-custom-opacity {
  background: rgba(0, 0, 0, 0.5);
}

.h2-center {
  text-align: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}